* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Roboto", sans-serif;
  color: #0078ff;
}

html {
  scroll-behavior: smooth;
}

/* headings */

nav h2 {
  font-size: 26px;
  font-weight: 400;
}

.ContainerOne h1 {
  font-size: 72px;
  font-weight: 400;
  background-color: transparent;
  color: white;
}

/* nav section */

nav {
  position: fixed;
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  transition: 0.7s;
}

nav ul {
  display: flex;
  flex-direction: row;
}

nav ul li {
  margin-left: 40px;
  font-size: 16px;
  font-weight: 300;
  cursor: pointer;
  transition: 0.7s;
}

/* ContainerOne */

.ContainerOne {
  height: 100vh;
  width: 100%;
  background-image: url(./pictures/background\ image\ Two.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 1;
}

.web-dev-animation p {
  font-size: 50px;
  background-color: transparent;
  color: white;
}

.web-dev-animation {
  width: 30%;
  text-align: center;
  animation: animationOne 2s steps(22), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  background-color: transparent;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
  margin: 50px;
  color: white;
}

@keyframes animationOne {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

/* ContainerTwo */

.ContainerTwo {
  height: 100vh;
  width: 70%;
  box-shadow: 1px 1px 5px;
  margin: 64px auto 50px;
  padding: 64px 48px;
  display: flex;
  background-color: white;
  flex-direction: row;
}

/* (ContainerTwo) Profile */

.ContainerTwo .profile {
  display: flex;
  flex-direction: row;
}

.ContainerTwo img {
  width: 188px;
}

.ContainerTwo .profile ul {
  padding: 0px 30px;
  font-size: 18px;
  font-weight: 500;
}

.ContainerTwo .profile ul li {
  padding-top: 20px;
  color: black;
}

.ContainerTwo .profile ul span {
  font-size: 16px;
  font-weight: 300;
}

.profile button img {
  height: 20px;
  width: 20px;
}

/* (ContainerTwo) About */

.ContainerTwo .About h1 {
  padding-bottom: 50px;
  font-size: 32px;
  color: black;
  font-weight: 500;
}

.ContainerTwo .About p {
  line-height: 30px;
  font-size: 20px;
  font-weight: 100;
  color: black;
}

.container {
  background-color: rgb(188, 204, 184);
  width: 90%;
  border-radius: 10px;
}

.Skills {
  padding: 30px 0px;
}

.Skills p {
  font-size: 16px;
  font-weight: 300;
  padding-top: 20px;
  color: black;
}

.Skills h2 {
  font-size: 18px;
  color: black;
}

.skill {
  background-color: #0078ff;
  color: white;
  text-align: right;
  font-size: 11px;
  border-radius: 10px;
}

.html {
  width: 95%;
}

.css {
  width: 95%;
}

.wordpress {
  width: 65%;
}

.javascript {
  width: 90%;
}

.bootstrap {
  width: 95%;
}

.typing {
  width: 100%;
}

/* Container Three */

.ContainerThree {
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 50px;
}

.ContainerThree .services {
  display: flex;
  flex-direction: row;
  width: 70%;
  margin: 30px auto;
}

.ContainerThree h1 {
  font-size: 48px;
  font-weight: bold;
  color: black;
  margin-top: -20px;
}

.ContainerThree .aboutService {
  font-size: 16px;
  padding: 8px 0px 85px 0px;
}

.ContainerThree .services .service {
  box-shadow: 1px 1px 5px;
  border-radius: 20px;
  padding: 30px;
  margin: -40px 20px;
  width: 300px;
  line-height: 30px;
}

.ContainerThree .services .service h2 {
  padding-top: 10px;
  color: black;
}

.ContainerThree .services .service p {
  padding: 30px 0px 20px 0px;
}

.ContainerThree .service svg {
  box-shadow: 0 0 0 10px #0078ff;
  padding: 10px;
  border-radius: 50%;
  transition: 0.5s;
}

.service:hover svg {
  box-shadow: 0 0 0 0px white;
  fill: #2070ca;
}

.copyButton {
  height: 40px;
  cursor: pointer;
}

.copyButton:focus {
  height: 30px;
}

/* Parallex */

.parallax {
  min-height: 300px;
  font-size: 30px;
  background-color: transparent;
  display: grid;
  place-items: center;
  background-attachment: fixed;
  background-position: center;
  color: white;
}

.parallax h1 {
  color: white;
}

.parallaxOne {
  background-image: url("pictures/parallex\ one.jpg");
}

.parallaxTwo {
  background-image: url("pictures/parallex\ two.jpg");
}

/* Container Four */

.ContainerFour {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 50px;
}

.ContainerFour h1 {
  font-size: 48px;
  font-weight: bold;
  color: black;
}

/* blah*/

.grid-container {
  width: 80%;
  margin: auto;
  display: grid;
  place-items: center;
  grid-row-gap: 50px;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

.grid-item {
  width: 80%;
  overflow: hidden;
}

.grid-item section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

.grid-item section h5 {
  font-size: 20px;
  color: black;
}

.grid-item .imageProfile {
  width: 100%;
  transition: 0.6s;
  height: 200px;
  padding: 30px;
}

.grid-item .imageProfile:hover {
  transform: scale(1.2);
}

.grid-item .imagaeAdd {
  height: 20px;
}

/* container five */

.ContainerFive {
  height: 80vh;
  display: flex;
}

.ContainerFive .Reach {
  height: 80%;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.ContainerFive h1 {
  font-size: 32px;
  font-weight: 400;
  color: black;
}

.ContainerFive h1,
.ContainerFive h3 {
  padding: 30px;
}

.ContainerFive .social {
  text-align: center;
  padding: 5px 0px;
}

.ContainerFive .social img {
  height: 15px;
  padding: 0px 5px;
  transform: translateY(2px);
}

.ContainerFive .socialImages a .fab {
  color: black;
  margin: 40px 10px;
}

.ContainerFive .socialImages a .facebook:hover {
  fill: #2e5090;
}

.ContainerFive .socialImages a .linkedin:hover {
  fill: #0077b5;
}

.ContainerFive .socialImages a .instagram:hover {
  fill: #8a3ab9;
}

footer {
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: black;
  background-color: #f0d2d2;
}

footer span {
  background-color: transparent;
}

/* underline */

.ContainerTwo .About h1,
.ContainerThree .aboutService,
.ContainerFour p,
.ContainerFive h1 {
  text-decoration: underline #0078ff;
  text-decoration-style: solid;
  text-underline-position: under;
  text-decoration-thickness: 4px;
}
